body
{
	text-align: center;
	margin: 0px;font-family:Arial, Helvetica, sans-serif;font-size:12px
}
a{color:#C9061D;text-decoration:none}
a:hover{color:#000;text-decoration:none}

.TitleScrip
{
	background:#c9061d;}
.FooterScrip
{
	background:#333;
	text-align:center;
	padding:10px;
}
.PageHeader_Bck
{
background: #c9061d; /* Old browsers */
background: -moz-linear-gradient(top,  #c9061d 0%, #b6071c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9061d), color-stop(100%,#b6071c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #c9061d 0%,#b6071c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #c9061d 0%,#b6071c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #c9061d 0%,#b6071c 100%); /* IE10+ */
background: linear-gradient(to bottom,  #c9061d 0%,#b6071c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9061d', endColorstr='#b6071c',GradientType=0 ); /* IE6-9 */

	height: 100px;
}
/*-------------- Table Border style--------------- */
.Table_Border_Black
{
	border-color:#000033;
	border-right: black 1px solid;
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
}

/*----------- table background color---------- */
.Table_Bck1
{
	background-color: #11100c;
}
.Table_Bck2
{background:#E6E5E5;}
.Table_Bck3
{
	background-color: #5A5959;
}
.Table_Bck4
{
	background: #DAFFCD;
}


.Background_4_Loading
{
	background-color: darkblue;
	border-right: darkmagenta thin solid;
	border-top: darkmagenta thin solid;
	border-left: darkmagenta thin solid;
	border-bottom: darkmagenta thin solid;
	width: 250px;
}

/*----------- table alignment---------- */

.table_td_left
{
	text-align: left;
	vertical-align: top;
}
.table_td_center
{
	text-align: center;
	vertical-align: top;
}
.table_td_right
{
	vertical-align: top;
	text-align: right;
}


/*----------- label style ----------*/

.Capcha_Label
{
	font-size: 22pt;
	color: #ffffff;
	font-family: 'Blackadder ITC';
	letter-spacing: 1pc;
}

.Table_Title_Label_White
{
	font-size: 10pt;
	font-family: Verdana;
	color: White;
	font-weight: bold;
	margin-left: 5pt;
	text-decoration: none;
}

.Table_Title_Label_White20
{
	font-size: 20pt;
	font-family: Verdana;
	color: White;
	font-weight: bold;
	margin-left: 5pt;
}
.Table_Title_Label_OffWhite
{
	font-size: 10pt;
	font-family: Verdana;
	color: lightgrey;
	font-weight: bold;
	margin-left: 5pt;
	text-decoration: none;
}

.Table_Title_Label_Black
{
	font-size: 10pt;
	font-family: 'Verdana';
	color: Black;
	font-weight: bold;
	margin-left: 5pt;
	text-decoration: none;
}
.Table_Title_Label_Black20
{
	font-size: 20pt;
	font-family: 'Verdana';
	color: #c9061d;
	font-weight: bold;
	margin-left: 5pt;
	text-decoration: none;
}

.Table_Title_Label_Login
{
	font-size: 15px;
	font-family: 'Verdana';font-weight:bold;
	color:#fff;
	margin-bottom:5px;
	text-decoration: none;
}

.label_blue
{
	font-size: 8pt;
	font-family: Verdana;
	color: Blue;
	margin-left: 5pt;
}
.label
{
	color: #000000;
	font-family: Verdana,Arial;
	font-size: 9pt;
	text-decoration: none;
}
.label_black
{
	font-size: 8pt;
	font-family: Verdana;
	color: Black;
	text-decoration: none;
}

.label_blackbold10
{
	font-size: 14px;
	font-family: Georgia, "Times New Roman";
	color: #104B85;
	text-decoration: none;
	font-weight: bold;
}

.Link_Label_Bold
{
	font-size: 8pt;
	font-family: Verdana;
	color: #c9061d;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
}

.Link_Label_Bold:hover
{
	font-family: verdana,tahoma;
	font-size: 8pt;
	color: Black;
	text-decoration: none;
	font-weight: bold;
}
.Link_Label_Black_Bold
{
	font-size: 7pt;
	font-family: Verdana;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
}

.Link_Label_Header
{
	font-size: 8pt;
	font-family: Verdana;
	color: #4A4A4A;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
}

.labelBlack
{
	color: #000000;
	font-family: verdana,tahoma,geneva,arial,helvetica,sans-serif;
	font-size: 9pt;
}
.labelBlack7
{
	color: #000000;
	font-family: verdana,tahoma,geneva,arial,helvetica,sans-serif;
	font-size: 7pt;
}

.labelGreenArialBold12
{
	color: #009900;
	font-family: Arial,tahoma,geneva,arial,helvetica,sans-serif;
	font-size: 12pt;
	font-weight: bold;
}
.labelGreenArialBold13
{
	color: Black;
	font-family: Arial,tahoma,geneva,arial,helvetica,sans-serif;
	font-size: 12pt;
	font-weight: bold;
}

.labelBlackSmall
{
	color: #000000;
	font-family: verdana,tahoma,geneva,arial,helvetica,sans-serif;
	font-size: 8pt;
	text-decoration: none;
}

.labelBlackBoldLink
{
	font-family: verdana,tahoma,geneva,arial,helvetica,sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: Black;
	cursor: pointer;
	text-decoration: none;
}
.labelBlackBoldLink:hover
{
	font-family: verdana,tahoma,geneva,arial,helvetica,sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #ff9933;
}
.Mandatory
{
	font-size: 12pt;
	font-family: 'Arial Black';
	color: #ff3366;
}
.ErrorLabel_10
{
	font-weight: bold;
	font-size: 8pt;
	color: #ff0033;
	font-family: Tahoma;
}
/*----------------------- Control Style ---------------------*/
.textbox
{
	border: 1px solid #7F9DB9;
	color: #000000;
	font-family: Verdana,Arial;
	font-size: 11px;
	width: 195px;
}
.textbox1
{
	border: 1px solid #999999;
	color: #000000;
	font-family: Verdana,Arial;
	font-size: 11px;
	width: 120px;
}
.textboxLogin
{
	border:none;
	color:#330000;
	font-family:Verdana,Arial;
	font-size: 13px;font-weight:bold;
	width:270px;padding:0 8px 0 8px;
	height:30px;-moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;border-radius:3px;
}
.textboxQnt
{
	border: 1px solid #999999;
	color: #000000;
	font-family: Verdana,Arial;
	font-size: 11px;
	width: 120px;
	text-align: center;
}

.combobox
{
	border: 1px solid #3399CC;
	font-family: Verdana,Arial;
	font-size: 11px;
	width: 200px;
}
.button
{
	border: 1px solid #3399CC;
	font-family: Verdana,Arial,Arial Black;
	font-size: 11px;
	width: 100px;
	background-color: Gray;
}
.button1
{
	color: #fff;
	border:none;height:25px;line-height:25px;
background: #c9061d; /* Old browsers */
background: -moz-linear-gradient(top,  #c9061d 0%, #b6071c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9061d), color-stop(100%,#b6071c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #c9061d 0%,#b6071c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #c9061d 0%,#b6071c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #c9061d 0%,#b6071c 100%); /* IE10+ */
background: linear-gradient(to bottom,  #c9061d 0%,#b6071c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9061d', endColorstr='#b6071c',GradientType=0 ); /* IE6-9 */-moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;border-radius:3px;
	font-size: 11px;cursor:pointer;
	font-weight: bold;
}

.listbutton
{
	border: 1px solid #3399CC;
	font-family: Verdana,Arial,Arial Black;
	font-size: 12px;
	width: 25px;
	background-color: Gray;
}

.combobox_auto
{
	border: 1px solid #3399CC;
	font-family: Verdana,Arial;
	font-size: 11px;
	width: auto;
}

.combobox_180px
{
	border: 1px solid #3399CC;
	font-family: Verdana,Arial;
	font-size: 11px;
	width: 180px;
}
.radio
{
	color: #000000;
	font-family: Verdana,Arial;
	font-size: 11px;
	vertical-align: top;
}
.checkbox
{
	color: #000000;
	font-family: Verdana,Arial;
	font-size: 11px;
	vertical-align: middle;
	text-align: left;
}
.listbox
{
	color: #000000;
	font-family: Verdana,Arial;
	font-size: 11px;
	width: 196px;
}

/*-------------------------Grid View----------------------- */

.gridview .actions div
{
	float: right;
	padding-right: 2px;
	text-align: right;
	width: 95px;
}
.gridview .edit td, .gridview .create td
{
	background: #DAFFCD;
	padding: 4px;
	border-bottom: solid 2px #FFFFFF;
	border-top: solid 2px #FFFFFF;
}
.gridview td
{
	background: #ffffff;
	color: #333333;
	font-family: Arial,Helvetica,Sans-Serif,Verdana;
	font-size: 10pt;
	padding: 5px 4px;
}
.gridview td a
{
	color: #174971;
	font: bold small "Segoe UI" ,Segoe,sans-serif;
	padding: 2px;
	text-decoration: none;
	font-size: 12px;
}
.gridview td a:hover
{
	color: #E56F08;
	font-weight: bold;
}
.gridview th
{
	background: url(../Images/grid_image.gif);
	border-bottom: 1px solid #CCCCCC;
	color: #7D7D75;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 9pt;
	letter-spacing: 0;
	padding: 4px;
	text-align: left;
}
.gridview th a
{
	color: #003399;
	font: bold small "Segoe UI" ,Segoe,sans-serif;
}
.gridview th a:hover
{
	color: #00FF00;
}
.gridview tr.even td, .detailsview tr.even td
{
	background: #FFFFFF;
}
.gridview tr.header
{
	background: #C5DBF7;
}
. gridview, .detailsview
{
	width: 100%;
}

/*CollapsiblePanel*/
.collapsePanel
{
	background-color: white;
	overflow: hidden;
	border-right: #000033 1px solid;
	border-top: #000033 1px solid;
	border-left: #000033 1px solid;
	border-bottom: #000033 1px solid;
}

.collapsePanelHeader
{
	width: 100%;
	height: 30px;
	background-repeat: repeat-x;
	color: #FFF;
	font-weight: bold;
	background-color:#11100c ;
}
TR.updated TD
{
	background-color: yellow;
}
.modalBackground
{
	background-color: Gray;
	filter: alpha(opacity=70);
	opacity: 0.7;
}

.modalPopup
{
	background-color: #ffffdd;
	border-width: 3px;
	border-style: solid;
	border-color: Gray;
	padding: 0px;
	width: 250px;
}
/* Gridview Sorting Indicator*/
.up a, .down a, .sort a
{
	display: block;
	padding: 0 4px 0 15px;
}
.up a, .down a
{
	color: #8F5F00;
}

.up a
{
	background: url(../Images/collapse_blue.jpg) left no-repeat;
}
.up a:hover
{
	background: url(../Images/collapse_blue.jpg) left no-repeat;
}
.down a
{
	background: url(../Images/expand_blue.jpg) left no-repeat;
}
.down a:hover
{
	background: url(../Images/expand_blue.jpg) left no-repeat;
}
.validatorCalloutHighlight
{
	background-color: lemonchiffon;
}
.textheding
{
	font-size: 12px;
	color: #0D76C0;
	font-family: Arial, Helvetica;
	font-weight: bold;
}
.smallImageSize
{
	height: 50px;
	width: 50px;
}
.ImageSize
{
	height: 100px;
	width: 100px;
}
.ImageSizeLarge
{
	height: 200px;
	width: 150px;
}
.tableborder
{
	border: 1px solid #cccccc;
}
.tableeborder
{
	/*border: 1px solid #cccccc; 	text-align: left; 	vertical-align: top;*/
}
.allborder
{
	background: #CFD0D1;
}
.fieldheader
{
	background: url(../images/inc-banner-bg.gif) repeat-x center;
	color: #174971;
	height: 25px;
	font-weight: bold;
}
.fieldheader a
{
	color: #333333;
	text-decoration: underline;
}
.fieldheader a:hover
{
	color: #0479DC;
	text-decoration: none;
}
.lightbg
{
	background: #F9F9F9;
	padding-left: 4px;
}
.darkbg
{
	background: #EDEDED;
}
.selectbg
{
	background: #DDF3FF;
}
.whitebg
{
	background: #FFFFFF;
}
.subheading
{
	color: #0053A6;
	font-size: 14px;
	font-weight: bold;
	height: 21px;
}
a.headlink:link, a.headlink:visited, a.headlink:active
{
	color: #104B85;
	text-decoration: none;
}
a.headlink:hover
{
	color: #ff8000;
	text-decoration: none;
}


/*---Vasu--*/

.AdvanceSearch
{
	margin-left: 50px;
}

.Label_Bold
{
	font-size: 9pt;
	font-family: Verdana;
	color: #ff9933;
	text-decoration: none;
	font-weight: bold;
}

#imageContainer
{
	float: right;
	width: 30%;
}


#imageContainer img
{
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	margin: 40px 170px;
	width: 100px;
	height: 85px;
	text-align: center;
}

#HeaderMenu
{
	float: right;
	width: 100%;
	text-align: right;
}

#HeaderLogo
{
	text-align: left;
	float: left;
	width: 40%;
}
.HeaderLable
{
	font-size: 8pt;
	font-family: Verdana;
	color: #005693;
	text-decoration: none;
	font-weight: bold;
	text-align: right;
	margin-right: 150px;
	margin-top: 50px;
}

.Center
{
	text-align: center;
}

/*-------------------------Data List----------------------- */

.dtlstyle .actions div
{
	float: right;
	padding-right: 2px;
	text-align: right;
	width: 95px;
}
.dtlstyle .edit td, .dtlstyle .create td
{
	background: #DAFFCD;
	padding: 4px;
	border-bottom: solid 2px #FFFFFF;
	border-top: solid 2px #FFFFFF;
}
.dtlstyle td
{
	background: #ffffff;
	color: #333333;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 8pt;
	padding: 5px 4px;
	border: 0;
}
.dtlstyle td a
{
	color: #174971;
	font: "Segoe UI" ,Segoe,sans-serif;
	padding: 2px;
	text-decoration: none;
	font-size: 8pt;
}
.dtlstyle td a:hover
{
	color: #E56F08;
}
.dtlstyle th
{
	background-color: #5A5959;
	color: #FFFFFF;
	font-family: Arial,Helvetica,sans-seri;
	font-size: 12px;
	letter-spacing: 0;
	padding: 4px;
	text-align: left;
}
.dtlstyle th a
{
	color: #003399;
	font: bold small "Segoe UI" ,Segoe,sans-serif;
}
.dtlstyle th a:hover
{
	color: #00FF00;
}
.dtlstyle tr.even td, .dtlstyle tr.even td
{
	background: #FFFFFF;
}
.dtlstyle tr.header
{
	background: #C5DBF7;
}
.dtlstyle, .detailsview
{
	width: 100%;
}
.lblGetPrice
{
	font-size: 10pt;
	color: #FF6000;
}

/*----------------Bread Crums--------------------*/
.breadcrums
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #567DB1;
	text-align: right;
	margin: 8px 0px;
	padding: 0px 8px;
}
.breadcrums a
{
	color: #567DB1;
}
.breadcrums span
{
	color: #FF8000;
	font-weight: bold;
}
.breadcrums code
{
	color: #FF8000;
	font-family: Arial, Helvetica, sans-serif;
}
.breadcrums a:hover
{
	color: #FF8000;
}

/*------------------------------------------------*/

.BlueFont
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #567DB1;
	font-weight: bold;
}
.BlueFontPagging
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #C74849;
	font-weight: bold;
	margin-left: 15px;
}
.Blue
{
	color: #FF8000;
}
.Itemfonts
{
	color: #00427C;
	font-family: Arial,Helvetica;
	font-size: 14px;
	font-weight: bold;
	font-variant: normal;
}
.Itemfonts1
{
	color: #505050;
	font-family: Arial,Helvetica;
	font-size: 11px;
	font-weight: bold;
	font-variant: normal;
}
.Itemfonts2
{
	color: #FF7500;
	font-family: Verdana,Arial,Helvetica,sans-seri;
	font-size: 11px;
	font-weight: bold;
	font-variant: normal;
}
.ItemDesc
{
	color: #6E7678;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px;
}




.hline
{
	background: url(../images/hline.gif) repeat-x center;
}
.vline
{
	background: url(../images/vline.gif) repeat-y center;
}


.item_display
{
	width: 280px;
	font-size: 12px;
	color: #ffffff;
	text-align: left;
	float: left;
	margin-top: 8px;
}
.item_pt1
{
	padding: 10px;
	font-size: 12px;
	color: #ffffff;
	text-align: right;
	float: right;
	border: 1px solid #e2e2e2; /*	background: url(../Images/item_pt1bg.gif) repeat-x left top;*/
}
.item_pt1 div.img_center
{
	display: table-cell;
	background-color: #FFFFFF;
	text-align: center;
	border-bottom: none;
	vertical-align: middle;
	width: 250px;
}
.item_pt1 div.img_center *
{
	vertical-align: middle;
}
.item_pt1 div.img_center span
{
	display: inline-block;
	height: 100%;
	width: 1px;
}
 <!
--[if IE] > .item_pt1 div.img_center span
{
	display: inline-block;
	height: 100%;
	width: 1px;
}
.tableborder
{
	border: 1px solid #cccccc;
}



/* image*/
.thumimg
{
	width: 90px;
}
.normalimg
{
	width: 135px;
}
.bigimg
{
	width: 300px;
	border: 2px solid #CCCCCC;
	padding: 2px;
}
.imgborder, .thumimg, .normalimg
{
	border: 1px solid #CCCCCC;
	padding: 1px;
}
a:hover .imgborder, a:hover .thumimg, a:hover .normalimg
{
	border: 1px solid #7BA552;
}

/* table*/
.table
{
	border: 0px solid #d2d2d2;
	border-collapse: collapse;
	margin-bottom: 4px;
}
.table td
{
	padding: 5px 5px;
	font: 11px/14px Verdana, Arial, Helvetica, sans-serif;
	color: #4c4c4c;
	line-height: 18px;
	border: 1px solid #d2d2d2;
}
.table td li
{
	margin-left: 10px;
}
.table th
{
	background: #eee;
	font-size: 15px;
	padding: 5px 8px;
	border: 1px solid #d2d2d2;
}
.table td input.txtbox
{
	border: solid 1px #cecece;
	font-weight: normal;
	text-align: center;
}
.table td textarea
{
	border: solid 1px #cecece;
	width: 200px;
	font-weight: normal;
}
.table a
{
	color: #f60 !important;
}
.table th
{
	background: #eee;
	font-size: 15px;
	padding: 5px 8px;
	border: 1px solid #d2d2d2;
}
/**/
.shopping_display
{
	width: 783px;
	padding: 0px 13px 8px 13px;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #6e7678;
	text-align: left;
	float: left;
	margin-top: 8px;
}
.shopping_display p
{
	text-align: justify;
	line-height: 17px;
}
.shopping_display a
{
	color: #ff7500;
	text-decoration: underline;
}
.shopping_display p a
{
	color: #ff7500;
	text-decoration: underline;
}
.shopping_display h4
{
	font-size: 14px;
	color: #ff7500;
	padding: 5px 0px 0px 0px;
	text-align: justify;
	font-weight: bold;
}
.shopping_display ul
{
	margin: 8px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	list-style: none;
}
.shopping_display ul li
{
	text-align: justify;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 5px 12px;
	background: url(images/bullet_gray.gif) no-repeat left 5px;
}
.shopping_display ul li a
{
	color: #ff7500;
	text-decoration: underline;
}
.OrderSummary
{
	font-size: 11px;
	color: #4c4c4c;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.login_border
{
	border: 1px solid #d2d2d2;
}


.simpletext
{
	color: #0D76C0;
	font-family: Arial,Helvetica;
	font-size: 11px;
	font-weight: bold;
	font-variant: normal;
}
.simpletext1
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: Black;
	text-align: right;
	padding: 0px 8px;
	font-weight: bold;
}
.lblbold
{
	color: Black;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight: bold;
}
.simpletextwithmargin
{
	color: #0D76C0;
	font-family: Arial,Helvetica;
	font-size: 11px;
	font-weight: bold;
	font-variant: normal;
	margin-left: 30px;	
}
.red
{
	color: #FF0000;
}

h1
{
	background: transparent url(../images/menuicon.gif) no-repeat scroll 1px 2px;
	border-bottom: 1px solid #FF7F00;
	color: #104B85;
	font-family: Georgia, "Times New Roman";
	font-size: 13px;
	margin: 8px 0;
	padding: 0 0 5px 20px;
}
.lblorder
{
	color: #D23333;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight: bold;
}
.OrderSummary
{
	margin-left: 8px;
	color: #4C4C4C;
	font-size: 11px;
}
.ordertable1
{
	margin-left: 70px;
}

.orderlable
{
	color: #4C4C4C;
	font-size: 11px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}
.maillink
{
	color: #FF6600;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight: bold;
}
.Legendheading
{
	color: #FF7500;
	font-size: 13px;
	font-weight: bold;
}
.table_td_Marginss
{
	font-size: 56px;
	color: Aqua;
}

.Redtheme
{
	background-color: #D50304;
	border-bottom: 1px solid #CCCCCC;
	color: #FFFFFF;
	font-family: Arial,Helvetica,sans-seri;
	font-size: 12px;
	letter-spacing: 0;
	padding: 4px; /*	text-align: left;*/
}

/*------------------------------------------------Mastre Page Side menu Grid---------------------*/


.gridSidemenu td
{
	background: #ffffff;
	color: #333333;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 8pt;
	padding: 5px 4px;
}
.gridSidemenu td a
{
	color: #174971;
	font: bold small "Segoe UI" ,Segoe,sans-serif;
	padding: 2px;
	text-decoration: none;
	font-size: 12px;
}
.gridSidemenu td a:hover
{
	color: #E56F08;
	font-weight: bold;
}
.gridSidemenu th
{
	background: transparent url(../images/menuicon.gif) no-repeat scroll 3px 2px;
	background-color: #D50304;
	color: #FFFFFF;
	font-family: Arial,Helvetica,sans-seri;
	font-size: 12px;
	letter-spacing: 0;
	padding: 4px;
	padding-left: 20px; /*	text-align: left;*/
}
.gridSidemenu th a
{
	color: #003399;
	font: bold small "Segoe UI" ,Segoe,sans-serif;
}
.labelclass
{
	font-weight: bold;
	text-align: left;
}
.midheader
{
	color: #FF9124;
	font-weight: bold;
	padding: 6px 5px;
	text-align: left;
}
.re-input
{
	background: #FFFFFF none repeat scroll 0 0;
	border: 1px solid #93ABC4;
	clip: rect(auto, auto, auto, auto);
	color: #333333;
	font-family: Tahoma,Arial;
	font-size: 11px;
	padding: 1px;
	width: 70px;
}
.validatorCalloutReq
{
	background-color: lemonchiffon;
	border: 1px solid #7F9DB9;
	color: #000000;
	font-family: Verdana,Arial;
	font-size: 11px;
	width: 195px;
}
.Itemfonts
{
	color: #0D76C0;
	font-family: Arial,Helvetica;
	font-size: 12px;
	font-weight: bold;
	font-variant: normal;
}
.Itemfonts1
{
	color: #505050;
	font-family: Arial,Helvetica;
	font-size: 11px;
	font-weight: bold;
	font-variant: normal;
}
.Itemfonts2
{
	color: #FF7500;
	font-family: Verdana,Arial,Helvetica,sans-seri;
	font-size: 11px;
	font-weight: bold;
	font-variant: normal;
}
